include blocks/blocks

doctype html
html(lang="ru")
	+head
	body
		section.calculator
			.calculator__wrapper
				.calculator-form
					h2.calculator__title Онлайн калькулятор стоимости лизинга
					form(action="")
						.calculator__row.calculator__row--space-between
							.calculator__element.calculator__element--small
								label(for="type").calculator__label Тип имущества
								select(data-type="select", id="type", data-req="req").calculator__select.js-type
									option(value)
									option(value="1") Легковой транспорт
									option(value="2") Грузовой транспорт
									option(value="3") Двухколесный транспорт
							.calculator__element.calculator__element--small
								label(for="cost").calculator__label Стоимость, ₽	
								input(type="text", data-req="req").calculator__input.js-input-mask.js-cost
							.calculator__element.calculator__element--small
								label(for="ava").calculator__label Аванс
								.calculator__row.calculator__row--space-between
									input(type="text", data-req="req", name="rouble").js-input-mask.calculator__input.calculator__input--w222.calculator__input--avans.calculator__input--active
									input(type="text", data-req="req", name="persent").js-input-mask.calculator__input.calculator__input--w222.calculator__input--avans
									.calculator__pseudoradio.calculator__pseudoradio--lh22
										input(type="radio", name="avans", id="rouble", checked).calculator__radio.js-avans-change
										label(for="rouble") ₽
									.calculator__pseudoradio.calculator__pseudoradio--lh22
										input(type="radio", name="avans", id="persent").calculator__radio.js-avans-change
										label(for="persent") %
						.calculator__row.calculator__row--space-between
							.calculator__element.calculator__element--small
								label(for="").calculator__label График платежей
									.calculator__pseudoradio.calculator__pseudoradio--column
										input(type="radio", id="radio3", name="rgaphik-pl", checked).calculator__radio
										label(for="radio3") Убывающие платежи
									.calculator__pseudoradio.calculator__pseudoradio--column
										input(type="radio", id="radio4", name="rgaphik-pl").calculator__radio
										label(for="radio4") Аннуитетный
							.calculator__element.calculator__element--small
								label(for="").calculator__label Сроки в годах
									.calculator__row
										.calculator__pseudoradio
											input(type="radio", name="sroki", id="radio5", checked).calculator__radio
											label(for="radio5") 1
										.calculator__pseudoradio
											input(type="radio", name="sroki", id="radio6").calculator__radio
											label(for="radio6") 2
										.calculator__pseudoradio
											input(type="radio", name="sroki", id="radio7").calculator__radio
											label(for="radio7") 3
							.calculator__element.calculator__element--small
								button(type="submit").calculator__btn.calculator__btn--white.calculator__btn--hidden Рассчитать
				.calculation
					.calculation__row
						span.calculation__title Ежемесячный платеж в т.ч. НДС* 
						span.calculation__val 55 312,58 ₽
						span.calculation__vnds 50 000, 58 ₽ (без НДС)
					.calculation__row.calculation__row--space-between
						.calculation__column
							span.calculation__subtitle График ежемесячных платежей
							.calculation__row
								.calculation__text-col
									span.calculation__text-header Стоимость:
									span.calculation__text-value 1 950 000.00 ₽
								.calculation__text-col
									span.calculation__text-header Аванс:
									span.calculation__text-value 292 500,00 руб. (15%)
								.calculation__text-col
									span.calculation__text-header Срок: 
									span.calculation__text-value 3 года
						.calculation__row
							a(href="#").calculation__print Распечатать
							a(href="#").calculation__download Скачать PDF
					.calculation__tables
						.calculation__table-column
							.calculation__year 1 год
							.calculation__table
								.calculation__table-row
									.calculation__table-header Месяц
									.calculation__table-header Платеж, ₽
								.calculation__table-row
									.calculation__table-item 1
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 2
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 3
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 4
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 5
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 6
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 7
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 8
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 9
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 10
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 11
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 12
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
						.calculation__table-column
							.calculation__year 2 год
							.calculation__table
								.calculation__table-row
									.calculation__table-header Месяц
									.calculation__table-header Платеж, ₽
									.calculation__table-header
								.calculation__table-row
									.calculation__table-item 1
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 2
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 3
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 4
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 5
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 6
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 7
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС))
								.calculation__table-row
									.calculation__table-item 8
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 9
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 10
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 11
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 12
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
						.calculation__table-column
							.calculation__year 3 год
							.calculation__table
								.calculation__table-row
									.calculation__table-header Месяц
									.calculation__table-header Платеж, ₽
								.calculation__table-row
									.calculation__table-item 1
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 2
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 3
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 4
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 5
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 6
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 7
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 8
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 9
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 10
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 11
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
								.calculation__table-row
									.calculation__table-item 12
									.calculation__table-item 55 312.58
									.calculation__table-item
										small 50 000.58 (без НДС)
					.calculation__additional-info 
						p * Расчеты носят информационный характер и не являтюся официальной офертой. За подробной актуальной информацией о действующих условиях обращайтесь к нашим специалистам.
				.calculator-contact
					span.calculator__warning Это не окончательный расчет!
					h3.calculator__subtitle Оставьте заявку, и мы подберем для вас лучшие условия финансирования
					span.calculator__info * — Поля обязательные для заполнения.
					form(action="")
						.calculator__row.calculator__row--space-between
							.calculator__element.calculator__element--medium
								label(for="type").calculator__label Ваше имя*
								input(type="text", data-req="req").calculator__input
							.calculator__element.calculator__element--small
								label(for="type").calculator__label Телефон*
								input(type="text", data-req="req", data-type="mobile").calculator__input.js-phone
						.calculator__row.calculator__row--space-between
							.calculator__element.calculator__element--small
								label(for="type").calculator__label E-mail
								input(type="text", data-req="req", data-type="email").calculator__input
							.calculator__element.calculator__element--small
								label(for="type").calculator__label Тип имущества
								select(id="type", data-type="select", data-req="req").calculator__select.js-type
									option(value)
									option(value="1") Легковой транспорт
									option(value="2") Грузовой транспорт
									option(value="3") Двухколесный транспорт
							.calculator__element.calculator__element--small
								label(for="type").calculator__label Стоимость, ₽
								input(type="text", data-req="req").calculator__input.js-input-mask.js-cost
						.calculator__row.calculator__row--space-between
							.calculator__element.calculator__element--small
								.calculator__pseudocheckbox
									input(type="checkbox", data-type="checkbox", id="personal-info", data-req="req").calculator__checkbox
									label(for="personal-info") Я согласен(а) на 
										a(href="#") обработку персональных данных
							.calculator__element.calculator__element--small
								button(type="submit").calculator__btn.calculator__btn--blue Отправить заявку
		+footer
		+scripts
