include blocks/blocks

doctype html
html(lang="ru")
	+head
	body
		header.print-header
			.wrapper
				.print-header__logo
					img(src="./static/i/print-logo.png", alt="")
					h1.h1 ООО «ТРАНСЛИЗИНГ»
				.print-header__info
					.print-header__tel
						img(src="./static/img/", alt="")
						span 8-800-4444-500
					.print-header__site
						span www.transleasing.ru
		main.print-main
			.wrapper
				//- .print-main__text
				//- 	p Благодарим Вас за обращение в компанию «Транслизинг». Вы можете воспользоваться готовым лизинговым решением или заказать индивиуальный расчет.
				//- .print-main__banner
				//- 	img(src="/../img/print-banner-img.jpg", alt="")
				//- 	span Единые решения
				//- 		br
				//- 		| для всей страны
				.print-main__data Дата обращения:
					span  03.08.2018
				.print-main__additional-info
					.print-main__additional-info-text
						span Предмет лизинга:&nbsp;&nbsp;&nbsp;
						.print-main__additional-info-product Транспорт, Спецтехника
					.print-main__additional-info-text
						span Стоимость, с НДС:&nbsp;&nbsp;&nbsp;
						.print-main__additional-info-cost 1 000 000, 00 ₽
				.print-main__param
					h2.h2 Параметры проекта
					.print-main__param-row
						.print-main__param-left
							span Первый платеж
						.print-main__param-right
							span 20,00%
					.print-main__param-row
						.print-main__param-left
							span Срок лизинга
						.print-main__param-right
							span 24 мес.
					.print-main__param-row
						.print-main__param-left
							span Вид графика
						.print-main__param-right
							span Убывающие платежи
				.print-main__graph
					h2.h2 График лизинговых платежей
					.print-main__tables
						table
							tr
								th Месяц
								th Платеж, ₽
							tr
								td 1
								td 55 312.58
							tr
								td 2
								td 55 312.58
							tr
								td 3
								td 55 312.58
							tr
								td 4
								td 55 312.58
							tr
								td 5
								td 55 312.58
							tr
								td 6
								td 55 312.58
							tr
								td 7
								td 55 312.58
							tr
								td 8
								td 55 312.58
							tr
								td 9
								td 55 312.58
							tr
								td 10
								td 55 312.58
							tr
								td 11
								td 55 312.58
							tr
								td 12
								td 55 312.58

							table
								tr
									th Месяц
									th Платеж, ₽
								tr
									td 1
									td 55 312.58
								tr
									td 2
									td 55 312.58
								tr
									td 3
									td 55 312.58
								tr
									td 4
									td 55 312.58
								tr
									td 5
									td 55 312.58
								tr
									td 6
									td 55 312.58
								tr
									td 7
									td 55 312.58
								tr
									td 8
									td 55 312.58
								tr
									td 9
									td 55 312.58
								tr
									td 10
									td 55 312.58
								tr
									td 11
									td 55 312.58
								tr
									td 12
									td 55 312.58

							table
								tr
									th Месяц
									th Платеж, ₽
								tr
									td 1
									td 55 312.58
								tr
									td 2
									td 55 312.58
								tr
									td 3
									td 55 312.58
								tr
									td 4
									td 55 312.58
								tr
									td 5
									td 55 312.58
								tr
									td 6
									td 55 312.58
								tr
									td 7
									td 55 312.58
								tr
									td 8
									td 55 312.58
								tr
									td 9
									td 55 312.58
								tr
									td 10
									td 55 312.58
								tr
									td 11
									td 55 312.58
								tr
									td 12
									td 55 312.58
				.print-main__total
					.print-main__total-row
						.print-main__total-left
							.print-main__total-blue Итого:
						.print-main__total-right
							.print-main__total-blue 1 135 190,20 ₽ 

					.print-main__total-row
						.print-main__total-left Средний платеж
						.print-main__total-right 47 299, 58 ₽ 

					.print-main__total-row
						.print-main__total-left Ср/годовое удержание
						.print-main__total-right 6,76%
			
		footer.print-footer
			.wrapper
				.print-footer__company ООО«ТРАНСЛИЗИНГ»
				.print-footer__row
					.print-footer__info
						.print-footer__info-row
							.print-footer__info-left Юридический адрес
							.print-footer__info-right 454091, Челябинск, ул. труда 64 «А», оф. 301
						.print-footer__info-row
							.print-footer__info-left ИНН
							.print-footer__info-right 7453090333, КПП 745301001
						.print-footer__info-row
							.print-footer__info-left Телефон
							.print-footer__info-right +7 (351) 247-247-2,  8-800-4444-500
					.print-footer__contacts
						.print-footer__contacts-row
							.print-footer__contacts-left Сайт
							.print-footer__contacts-right www.transleasing.ru
						.print-footer__contacts-row
							.print-footer__contacts-left E-mail
							.print-footer__contacts-right market@transleasing.ru
				.print-footer__publ Предложение носит предварительный характер и не является публичной офертой.  
		+scripts
