mixin head
	head&attributes(attributes)
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name="cmsmagazine" content="6a5de8b480a9f417d465ec3935efb0fd")
		title Title
		//- ПЕРЕНОСИТЬ В ПРОДАКШН НЕ НУЖНО.
		link(href="https://fonts.googleapis.com/css?family=Montserrat", rel="stylesheet")
		link(href='https://transleasing.ru/bitrix/themes/intec.startshop/web/colorpicker/css/colorpicker.css', type='text/css', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/themes/intec.startshop/web/startshop/css/admin.css', type='text/css', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/themes/intec.startshop/css/controls.css', type='text/css', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/themes/intec.startshop/plugins/fancybox/jquery.fancybox.css', type='text/css', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/themes/intec.startshop/sites/s1.css', type='text/css', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/components/intec/startshop.forms.result.new/custom_form_calc/style.css', type='text/css', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/js/main/core/css/core.min.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/js/main/core/css/core_popup.min.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/components/intec.universelite/settings/.default/style.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/js/plugins/bootstrap/css/bootstrap.min.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/js/plugins/bootstrap/css/bootstrap-theme.min.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/js/plugins/jquery_ui/jquery-ui.all.min.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/js/plugins/light_gallery/css/lightgallery.min.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/js/plugins/colorpicker/colorpicker.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/js/plugins/nanoscroller/nanoscroller.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/fonts/font-awesome/css/font-awesome.min.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/fonts/p22underground/style.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/fonts/glyphter/style.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/fonts/typicons/style.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/fonts/montserrat/style.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/css/public.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/js/plugins/fancybox/jquery.fancybox.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/components/intec.universelite/widget/buttontop/style.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/components/intec.universelite/widget/header/style.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/panel/main/popup.min.css?152766585720704', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/components/intec.universelite/widget/header/bitrix/menu/info/style.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/components/bitrix/menu/horizontal/style.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/components/bitrix/search.title/.default/style.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/components/intec.universelite/widget/header/bitrix/menu/mobile/style.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/components/bitrix/breadcrumb/.default/style.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/components/intec.universelite/widget/footer/style.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/templates/universelite_s1/components/bitrix/menu/footer/style.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/js/main/core/css/core_panel.min.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/panel/main/admin-public.min.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/panel/main/hot_keys.css', type='text/css', data-template-style='true', rel='stylesheet')
		link(href='https://transleasing.ru/bitrix/themes/.default/pubstyles.min.css', type='text/css', data-template-style='true', rel='stylesheet')
		//- ПЕРЕНОСИТЬ В ПРОДАКШН НЕ НУЖНО. КОНЕЦ
		link(rel="stylesheet", href="./static/css/styles.css")
		link(rel="icon", type="image/x-icon", href="./static/i/favicon.ico")
		link(rel="shortcut icon", type="image/ico", href="./static/i/favicon.ico")
