html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*,
*::after,
*::before {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

body,
html {
	width: 100%;
}

h2, li, p, span, ul, ol {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.calculator {
	padding-top: 147px;
	padding-bottom: 127px;
	font-family: 'Montserrat', sans-serif;

	&__wrapper {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}

	&__title {
		font-size: 30px;
		line-height: 26px;
		color: #ffffff;
		margin-bottom: 43px;
		font-weight: 400;
	}

	&__row {
		display: flex;
		flex-direction: row;

		&--space-between {
			justify-content: space-between;
		}
	}



	&__element {
		display: flex;
		flex-direction: column;
		margin-bottom: 41px;
		&--small {
			width: calc(100% / 3 - 26px);
		}
	}

	&__label {
		font-size: 16px;
		color: rgba(255,255,255,0.5);
		font-weight: 400;
		margin-bottom: 15px;
	}

	&__input {
		font-size: 16px;
		line-height: 42px;
		height: 42px;
		color: #383838;
		padding-left: 15px;
		padding-right: 15px;
		border-radius: 4px;
		border: 1px solid transparent;
		background-color: #ffffff;

		&--w222 {
			max-width: 222px;
		}
	}

	&__pseudoradio {
		margin-left: 20px;

		&--column {
			margin-left: 0;
		}

		&:first-child {
			margin-left: 0;
		}

		label {
			position: relative;
			padding-left: 26px;
			font-size: 16px;
			line-height: 42px;
			cursor: pointer;
			margin-bottom: 0;

			color: #ffffff;

			&:before {
				content: '';
				position: absolute;
				width: 18px;
				height: 18px;
				border-radius: 50%;
				border: 1px solid #ffffff;
				left: 0;
				top: 50%;
				transition: .5s background;
				transform: translateY(-50%);
			}

			&:after {
				content: '';
				position: absolute;
				width: 8px;
				height: 8px;
				left: 5px;
				top: 50%;
				background-color: #383838;
				border-radius: 50%;
				opacity: 0;
				transition: .5s opacity;
				transform: translateY(-50%);
			}
		}
	}

	&__radio {
		width: 0;
		height: 0;
		display: none;
		visibility: hidden;
		opacity: 0;
		border-radius: 0;
		box-shadow: none;
		&:checked {
			&+label {
				&:before {
					background-color: #ffffff;
				}
				&:after {
					opacity: 1;
				}
			}
		}
	}

	&__btn {
		height: 48px;
		font-size: 14px;
		line-height: 48px;
		color: #43609c;
		font-weight: bold;
		align-self: flex-start;
		background-color: #ffffff;
		border-radius: 4px;
		border: none;
		box-shadow: none;
		padding: 0 70px;
		outline: none;
	}
}

.calculator-form {
	background-color: #43609c;
	padding: 50px;
}

.jq-selectbox__select {
	position: relative;
	height: 42px;
	border-radius: 4px;
	background-color: #ffffff;
	padding-left: 13px;
	padding-right: 30px;
	cursor: pointer;
	border: 1px solid transparent;
}

.jq-selectbox__select-text {
	line-height: 42px;
	font-size: 16px;
	font-weight: 400;
	color: #383838;
}

.jq-selectbox__trigger {
	position: absolute;
	right: 22px;
	top: 50%;
	transform: translateY(-50%);
}

.jq-selectbox__trigger-arrow {
	width: 15px;
	height: 9px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAJCAYAAADtj3ZXAAABS2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxNDIgNzkuMTYwOTI0LCAyMDE3LzA3LzEzLTAxOjA2OjM5ICAgICAgICAiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+nhxg7wAAAHdJREFUKJGVzrERgkAQheHPGyIyK5JAOqIMiWziiqAEEys5I2OTZcaBY+bY8O3+/9tLzrnH1/npOzxRMJ0AH7imgIYIWsEBU4rWsVEwx92IkiJsEcy4rSCkv2XB/UCwA7cwfCqCKghd5b1VsOAV2Q6sNW8F7yMQfv5QH1QakyzPAAAAAElFTkSuQmCC');
	background-position: center;
	background-repeat: no-repeat;
}
